@charset "utf-8";
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf') format('truetype')
}

/**
 * @fileName page.css
 * @author Aniu[date:2015-09-21 14:19]
 * @update Aniu[date:2015-09-21 14:19]
 * @version v1.1
 * @description none
 */
 
html, body { background-color:#eee;}
body { padding-bottom:10px; background-color:#eee;}
header { padding:12px; background-color:#2391CB;}
header div { width:58px; height:58px; background:url(../images/default.png) no-repeat center; background-size:58px;}
header dl { margin-left:12px;}
header dt { font-size:16px;}
header dd { margin-top:10px; font-size:12px;}
header, header a, header a:visited { color:#fff;}
header dd span { margin-right:5px;}
.g-content { padding-top:10px;}
.m-listview li { margin-top:10px; background-color:#fff;}
.m-listview li a { padding:0 20px;}
.m-listview li a > span:not(.f-df), .m-listview li a > i, .m-listview li label, .m-listview li em { display:block;}
.m-listview li a { height:45px;}
.m-listview li label { width:75px;}
.m-listview li a.j-active.s-crt { background-color:#E5E5E5;}
.m-listview li a i, .m-listview li a span.s-rdy, .m-listview li a span.s-rdy input { color:#A0A0A0;}
.m-listview li a span, .m-listview li a > i { font-size:14px;}
.m-listview li a span i { margin-right:5px;}
.m-listview li .ui-input { width:100%; height:45px; line-height:45px;}
.m-listview li label { line-height:45px;}
.m-listview li a span.f-df { height:100%;}
.m-listview-edit li { margin-top:0;}
.m-listview-edit li a { padding:0; margin:0 20px; border-bottom:1px solid #D3D3D3;}
.m-listview-edit li:last-child a { border-bottom:none;}
.m-listview-edit li a > em { padding:0 8px; height:30px; line-height:30px; color:#fff; background-color:#00B857;}
.m-box { padding:0 20px;}
.ui-btn { width:100%; height:45px; color:#fff; font-size:15px;}
.ui-btn-save { background-color:#2391CB;}
.ui-btn.s-dis, .m-listview-edit li a > em.s-dis { background-color:#999;}
.iconfont { font-family:"iconfont" !important; font-size:16px; font-style:normal; -webkit-font-smoothing:antialiased; -webkit-text-stroke-width:0.2px; -moz-osx-font-smoothing:grayscale;}
.ui-showmsg { z-index:99;}
.ui-showmsg em, .ui-showmsg i { display:inline-block;}
.ui-showmsg em { max-width:280px; min-width:50px; padding:6px 8px; line-height:18px; text-align:left; font-size:14px; color:#fff;}
.ui-showmsg-alert { position:fixed; bottom:10px; left:0; width:100%; text-align:center;}
.ui-showmsg-alert em { background-color:rgba(0,0,0,.6);}
.ui-showmsg-tips { position:absolute; display:inline; background-color:rgba(227,63,65,.7);}
.ui-showmsg-tips em { position:relative; padding:4px 7px; font-size:12px;}
.ui-showmsg-tips em i { position:absolute; top:-10px; left:10px; border:5px dashed transparent; border-bottom-color:rgba(227,63,65,.7); border-bottom-style:solid;}
/* animate */
@-webkit-keyframes bounceInDown {
	0% { opacity:0; -webkit-transform:translateY(-100px); transform:translateY(-100px);}
	60% { opacity:1; -webkit-transform:translateY(30px); transform:translateY(30px);}
	80% { -webkit-transform:translateY(-10px); transform:translateY(-10px);}
	100% { -webkit-transform:translateY(0); transform:translateY(0);}
}
@keyframes bounceInDown {
	0% { opacity:0; -webkit-transform:translateY(-100px); -ms-transform:translateY(-100px); transform:translateY(-100px);}
	60% { opacity:1; -webkit-transform:translateY(30px); -ms-transform:translateY(30px); transform:translateY(30px);}
	80% { -webkit-transform:translateY(-10px); -ms-transform:translateY(-10px); transform:translateY(-10px);}
	100% { -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0);}
}
.ui-animate-bounceInDown { -webkit-animation-name:bounceInDown; animation-name:bounceInDown;}

@-webkit-keyframes bounceShake {
	0%, 100% { -webkit-transform:translateX(0); transform:translateX(0);}
	25%, 75% { -webkit-transform:translateX(-10px); transform:translateX(-10px);}
	50% { -webkit-transform:translateX(10px); transform:translateX(10px);}
}
@keyframes bounceShake {
	0%, 100% { -webkit-transform:translateX(0); -ms-transform:translateX(0); transform:translateX(0);}
	25%, 75% { -webkit-transform:translateX(-10px); -ms-transform:translateX(-10px); transform:translateX(-10px);}
	50% { -webkit-transform:translateX(10px); -ms-transform:translateX(10px); transform:translateX(10px);}
}
.ui-animate-bounceShake { -webkit-animation-name:bounceShake; animation-name:bounceShake; -webkit-animation-duration:.5s; animation-duration:.5s;}

/* voucher & address*/
.g-header{ margin: 10px auto; padding: 0 20px; height: 75px; line-height: 75px; text-align: center;}
.g-header a{ display: block; width: 100%; height: 100%;  background-color: #2391CB; color: #fff; vertical-align: top;}
.g-header a i.icon-add{ display: inline-block; margin-right: 6px; width: 16px; height: 16px; line-height: 16px;}
.g-content h3{ display: block; padding: 10px 0 10px 20px; margin: 0 auto ; font-size: 18px; }
.g-content-temp{  display: none;}
.g-content-temp p{ text-align: center; line-height: 300px;}
.m-invoice, .m-voucher, .m-address{ padding: 0 20px;}
.m-newlist li.u-li{ position: relative; margin:0 auto; margin-bottom: 10px; height:75px; background-color:#fff; background-image: url(../images/trian.png); background-size:  50px 50px; background-position: right top; background-repeat: no-repeat;}
.m-voucher li.u-li, .m-newlist li.ul-li-crt{ background-image: url(../images/trian-crt.png);}
.m-newlist li.u-li-used{ background-image: url(../images/trian.png);}
.m-newlist li.u-li span{ display: block;}
.m-newlist li.u-li > b{ position: absolute; top: 4px; right: 4px; font-size: 12px; color: #fff;}
.m-newlist li.u-li span.f-f1{ padding-top: 12px; padding-left:6px; font-size: 16px; color: #282828; }
.m-newlist li.u-li span.f-f2{ padding-top:8px; padding-left:6px; font-size: 12px; color: #505050;}
.m-address li.u-li span.f-f1{ padding-top: 20px;}
.m-address li.u-li span.f-f1 .phone{ padding-left: 10px;}
.m-address li.u-li span.f-f1 .address{ display: block; width: 100%; white-space:nowrap; text-overflow:ellipsis;}
.m-address li.u-li span.f-f2{ padding-top:16px;}
.m-newlist li.u-li span.f-f3{ padding-top:10px; padding-left:6px; font-size: 12px; color: #a0a0a0;}
.m-newlist li.u-li span.f-f3 label.e-money{ position: absolute; right: 20px; color: #d71312;  z-index: 2;}
.m-newlist li.u-li-used span.f-f3 label.e-money{ color: #a0a0a0;}
